:root {
  --main-text: #000000;
}

#about {
  text-decoration: underline !important;
  text-underline-offset: 20% !important;
  color: var(--blue-gray-text) !important;
}

/*
= Large Screen (Min-width: 981px)
====================================================  */
@media (min-width: 981px) {
  .main-text {
    display: flex;
    flex-direction: row;
    padding-top: 10rem; padding-bottom: 5rem;
    padding-left: 15rem; padding-right: 15rem;
  }
  .main-text figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profiled-image {
    display: flex;
    padding-right: 12rem;

  }
  .biography {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -6rem;
  }
  .intro {
    display: inline-block;
  }
  .intro p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
  .reward {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .reward h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: var(--main-text);
    padding-bottom: 0.75rem;
  }
  .reward p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .email h2, .phone h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: var(--main-text);
    padding-bottom: 0.75rem;
  }
  .email p, .phone p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
}

/*
= Resonsive - Small Screen (Max-width: 980px)
====================================================  */
@media (max-width: 980px) {
  .main-text {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    padding-left: 5rem; padding-right: 5rem;
    justify-content: center;
  }
  .main-text figure {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .profiled-image {
    display: flex;
    padding-bottom: 5rem;
    justify-content: center;
  }
  .biography {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .intro {
    display: inline-block;
  }
  .intro p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
  .reward {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .reward h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: var(--main-text);
    padding-bottom: 0.75rem;
  }
  .reward p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
  .contact {
    display: flex;
    flex-direction: row;
  }
  .email, .phone {
    display: inline-block;
    padding-right: 5rem;
  }
  .email h2, .phone h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: var(--main-text);
    padding-bottom: 0.75rem;
  }
  .email p, .phone p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
}

/*
= Resonsive - Small Screen (Max-width: 560px)
====================================================  */
@media (max-width: 560px) {
  .main-text {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    padding-left: 2rem; padding-right: 2rem;
    justify-content: center;
  }
  .main-text figure {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .profiled-image {
    display: flex;
    padding-bottom: 5rem;
    justify-content: center;
  }
  .biography {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .intro {
    display: inline-block;
  }
  .intro p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
  .reward {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .reward h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: var(--main-text);
    padding-bottom: 0.75rem;
  }
  .reward p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
  .contact {
    display: flex;
    flex-direction: row;
  }
  .email, .phone {
    display: inline-block;
    padding-right: 5rem;
  }
  .email h2, .phone h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: var(--main-text);
    padding-bottom: 0.75rem;
  }
  .email p, .phone p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    color: var(--main-text);
    padding-bottom: 1rem;
  }
}
