/*
=The story of Newspaper Style
=================================== */
:root {
  --main-text: #000000;
  --lower-transperant-text: rgba(0, 0, 0, 0.5);
}
/*
= Large Screen (Min-width: 981px)
====================================================  */
@media (min-width: 981px) {
  /*
  =Banner Section
  =================================== */
  .banner {
    margin-top: 10rem;
  }
  /*
  =Overview
  =================================== */
  .overview {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 10rem; padding-right: 10rem; padding-bottom: 1rem;
    justify-content: flex-end;
    align-items: center;
  }
  #section1 {
    display: flex;
    padding-top: 6rem; padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-transform: uppercase;
    color: var(--main-text);
    text-align: center;
  }
  .overview-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .overview-list a {
    display: inline-block;
    align-text: center;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.75rem;
    color: var(--lower-transperant-text);
    padding-bottom: 1rem;
    text-align: center;
  }
  /*
  =Artifacts Remake Section
  =================================== */
  .leaflet {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 0.5rem;
  }
  #section2 {
    display: flex;
    padding-top: 8rem; padding-bottom: 0.75rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
    color: var(--main-text);
  }
  .slider {
    position: relative;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .slider input {
    display: none;
  }
  .leaflet-mockup {
    display: flex;;
    width: 100%;
  }
  .leaflet-mockup img {
    height: 100%;
    width: 100%;
  }
  .gallery-nav {
    display:flex;
    justify-content: center;
    margin: 5px;
  }
  .gallery-nav  label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid var(--lower-transperant-text) 1.5px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
  }
  .dots:hover {background-color: var(--lower-transperant-text);}
  #art1:checked ~ .leaflet-mockup > .art-img1 {
    margin-left: 0;
  }
  #art2:checked ~ .leaflet-mockup > .art-img2 {
    margin-left: -100%;
  }
  #art3:checked ~ .leaflet-mockup > .art-img3 {
    margin-left: -200%;
  }

  #art1:checked ~ .gallery-nav #dot1,
  #art2:checked ~ .gallery-nav #dot2,
  #art3:checked ~ .gallery-nav #dot3 {
    background-color: var(--lower-transperant-text);
  }
}

/*
= Large Screen (Max-width: 980px)
====================================================  */
@media (max-width: 980px) {
  /*
  =Banner Section
  =================================== */
  .banner {
    margin-top: 10rem;
  }
  /*
  =Overview
  =================================== */
  .overview {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 5rem; padding-right: 5rem; padding-bottom: 0.5rem;
    justify-content: flex-end;
    align-items: center;
  }
  #section1 {
    display: flex;
    padding-top: 6rem; padding-bottom: 0.75rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
    text-transform: uppercase;
    color: var(--main-text);
    text-align: center;
  }
  .overview-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .overview-list a {
    display: inline-block;
    align-text: center;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--lower-transperant-text);
    padding-bottom: 1rem;
    text-align: center;
  }
  /*
  =Artifacts Remake Section
  =================================== */
  .leaflet {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 0.5rem;
  }
  #section2 {
    display: flex;
    padding-top: 8rem; padding-bottom: 0.75rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
    color: var(--main-text);
  }
  .slider {
    position: relative;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .slider input {
    display: none;
  }
  .leaflet-mockup {
    display: flex;;
    width: 100%;
  }
  .leaflet-mockup img {
    height: 100%;
    width: 100%;
  }
  .gallery-nav {
    display:flex;
    justify-content: center;
    margin: 5px;
  }
  .gallery-nav  label {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid var(--lower-transperant-text) 1.5px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
  }
  .dots:hover {background-color: var(--lower-transperant-text);}
  #art1:checked ~ .leaflet-mockup > .art-img1 {
    margin-left: 0;
  }
  #art2:checked ~ .leaflet-mockup > .art-img2 {
    margin-left: -100%;
  }
  #art3:checked ~ .leaflet-mockup > .art-img3 {
    margin-left: -200%;
  }

  #art1:checked ~ .gallery-nav #dot1,
  #art2:checked ~ .gallery-nav #dot2,
  #art3:checked ~ .gallery-nav #dot3 {
    background-color: var(--lower-transperant-text);
  }
}

/*
= Large Screen (Max-width: 560px)
====================================================  */
@media (max-width: 560px) {
  /*
  =Banner Section
  =================================== */
  .banner {
    margin-top: 10rem;
  }
  /*
  =Overview
  =================================== */
  .overview {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 2rem; padding-right: 2rem; padding-bottom: 0.5rem;
    justify-content: flex-end;
    align-items: center;
  }
  #section1 {
    display: flex;
    padding-top: 6rem; padding-bottom: 0.75rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: var(--main-text);
    text-align: center;
  }
  .overview-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .overview-list a {
    display: inline-block;
    align-text: center;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: var(--lower-transperant-text);
    padding-bottom: 1rem;
    text-align: center;
  }
  /*
  =Artifacts Remake Section
  =================================== */
  .leaflet {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 0.5rem;
  }
  #section2 {
    display: flex;
    padding-top: 8rem; padding-bottom: 0.75rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
    color: var(--main-text);
  }
  .slider {
    position: relative;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .slider input {
    display: none;
  }
  .leaflet-mockup {
    display: flex;;
    width: 100%;
  }
  .leaflet-mockup img {
    height: 100%;
    width: 100%;
  }
  .gallery-nav {
    display:flex;
    justify-content: center;
    margin: 5px;
  }
  .gallery-nav  label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid var(--lower-transperant-text) 1.5px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
  }
  .dots:hover {background-color: var(--lower-transperant-text);}
  #art1:checked ~ .leaflet-mockup > .art-img1 {
    margin-left: 0;
  }
  #art2:checked ~ .leaflet-mockup > .art-img2 {
    margin-left: -100%;
  }
  #art3:checked ~ .leaflet-mockup > .art-img3 {
    margin-left: -200%;
  }

  #art1:checked ~ .gallery-nav #dot1,
  #art2:checked ~ .gallery-nav #dot2,
  #art3:checked ~ .gallery-nav #dot3 {
    background-color: var(--lower-transperant-text);
  }
}
