.page-wrapper{
  width: 100vw;
}
/*
= Large Screen (Min-width: 899px)
====================================================  */
@media (min-width: 981px) {
  header {
    width: 100vw;
    overflow: hidden;
    align-items: center;
    padding-top: 4rem;
  }
  nav {
    width: 100vw;
    height: 10rem;
  }
  /*
  =Footer
  =================================== */
  footer {
    width: 100vw;
    height: 15rem;
    padding: 4rem;
    margin-top: 5rem;
    align-items: flex-end;
  }
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .footer-social,
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-social i,
  .copyright a {
    display: inline-block;
    padding: 1rem 1rem;
    color: var(--pink-text);
    transition: 0.3s;
  }
  .copyright a {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
  }
  .footer-social i:hover {
    color: var(--blue-gray-text);
  }

  /*
  =style the logo (Large screen)
  =================================== */
  .logo {
    top: 2rem; left: 10rem;
    width: 200px;
    position: absolute;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
  }
  /*
  =style the container bar including logo and the navbar (large screen)
  =================================== */
  .container {
    position: relative;
    z-index: 50;
    width: 100%;
    padding: 0 10.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /*
  =style the navbar (large screen)
  =================================== */
  /*
  =make the navbar (including link folder + social folder) flex box with row direction */
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /*
  =make the nav ul (including link items + social items) flex box with row direction */
  .navbar ul {
    display: flex;
    flex-direction: row;
  }
  /*
  =make each items (in link + social folder) as inline-block and adding padding to add space between them + Style the items */
  .link a,
  .social i {
    display: inline-block;
    padding: 1rem 1rem;
    color: var(--pink-text);
    transition: 0.3s;
  }
  .link a {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1;
  }
  /*
  =change the color while hovering on the link + social items */
  .link a:hover,
  .social i:hover {
    color: var(--blue-gray-text);
  }
  /*
  =hidding the hamburger (large screen) */
  .hamburger,
  .wrapper,
  .line,
  .checkbox {
    display: none;
  }
}

/*
= Resonsive - Small Screen (Max-width: 900px)
====================================================  */

@media (max-width: 980px) {
  header {
    width: 100%;
    overflow: hidden;
    align-items: center;
  }
  nav {
    width: 100%;
    height: 10rem;
  }
  /*
  =Footer
  =================================== */
  footer {
    width: 100vw;
    height: 15rem;
    padding: 4rem;
    margin-top: 5rem;
    align-items: flex-end;
  }
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .footer-social,
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-social i,
  .copyright a {
    display: inline-block;
    padding: 1rem 1rem;
    color: var(--pink-text);
    transition: 0.3s;
  }
  .copyright a {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
  }
  .footer-social i:hover {
    color: var(--blue-gray-text);
  }
  /*
  =style the logo (Large screen)
  =================================== */
  .logo {
    top: 4rem; left: 5rem;
    width: 100px;
    position: absolute;
    z-index: 60;
    display: flex;
    align-items: center;
  }
  /*
  =turn the navbar into Fancy Hamburger (small screen)
  =================================== */
  *.page-wrapper {
    min-height: 100vh /* make the page wrapper no less than the height of the browser viewport */
  }
  /* .hamburger { background-color: tomato; } /* temporary */
  /* .wrapper { background-color: gold; }  /* temporary */

  /*
  =Checkbox + Hamburger
  =================================== */
  /*
  =style the checkbox + Hamburger */
  .checkbox,
  .hamburger {
    height: 5.5rem; /* assign a height to the checkbox + hamburger */
    width: 5.5rem; /* assign a width to the checkbox  hamburger */
    position: absolute; /* posotion the checkbox + hamburger from the top right sides of the viewpoint */
    top: 2.5rem; right: 3rem;
  }
  /*
  =style the check box */
  .checkbox {
    z-index: 80; /* position the checkbox in front of the hamburger */
    opacity: 0; /* make the checkbox invisible */
    cursor: pointer; /* change the cursor to a pointer when positioned over the checkbox */
  }
  /*
  =style the hamburger */
  .hamburger {
    padding: 1rem;
    z-index: 60;
  }
  /*
  = Hamburger wrapper
  =================================== */
  /*
  =style the wrapper */
  .hamburger .wrapper {
    height: 100%; /* ensure the wrapper absorbs all the available vertical space */
    display: flex; /* make the wrapper a flex container */
    align-items: center; /*center the center line along the cross (y) axis */
    transition: 0.5s ease; /* ensure a smooth rotation of the wrapper through 135deg */
  }
  /*
  =hamburger lines
  =================================== */
  /*
  =style the center + pseudo lines */
  .wrapper .line,
  .wrapper .line::before,
  .wrapper .line::after {
    background-color: var(--pink-text);
    height: 0.2rem;
    width: 100%;
  }
  /*
  =create a new positioning context for the top + bottom pseudo lines */
  .wrapper .line {
    position: relative;
  }
  /*
  =position + transition the pseudo lines */
  .wrapper .line::before,
  .wrapper .line::after {
    content: ""; /* pseudo lines will not appear without the content declaration! */
    position: absolute; /* absolutely position the pseudo lines */
    transition: 0.5s ease; /* ensure a smooth rotation of the pseudo lines through the extra 90deg */
  }
  /*
  =offset the pseudo lines above + below the centerline */
  .wrapper .line::before {top: -1.25rem;} /* offset the before pseudo line 7 pixels above the centerline */
  .wrapper .line::after {top: 1.25rem;} /* offset the after pseudo line 7 pixels below the centerline */
  /*
  =rotaate the wrapper 135deg clockwise */
  .checkbox:checked + .hamburger .wrapper {
    transform: rotate(135deg);
  }
  /*
  =rotate + reposition the pseudo lines */
  .checkbox:checked + .hamburger .line::before,
  .checkbox:checked + .hamburger .line::after {
    transform: rotate(90deg); /* rotate the pseudo lines a further 90deg clockwise to complete the X */
    top: 0; /* reposition the pseudo lines to align flush with the centerline */
  }
  /*
  =transition the bottom line from the view by completion of the X */
  .checkbox:checked + .hamburger .line::after {
    opacity: 0;
  }
  /*
  =rotate the X on the hover event */
  .checkbox:checked:hover + .hamburger .wrapper {
    transform: rotate(225deg);
  }
  /*
  =navbar container + links
  ================================== */
  /*
  =style the contains (log + navbar) */
  .container {
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 10rem;
  }
  /*
  =style the navbar */
  .navbar {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    z-index: 50;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0; bottom: 0; right: -100rem;
    transition: 1s ease;
  }
  /*
  =make the social icon listed in row */
  .social {
    display: flex;
    flex-direction: row;
  }
  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*
  =make each items (in link + social folder) as inline-block and adding padding to add space between them + Style the items */
  .link a,
  .social i {
    display: inline-block;
    padding: 5rem 1rem;
    color: transparent;
    transition: 2.5s ease;
  }
  /*
  =set typeface for page link */
  .link a {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
  }
  /*
  =transition the navbar into view */
  .checkbox:checked ~ .container > #navbar {
    right: 0; /* display the navbar by aligning it with the viewport's left edge */
  }
  .checkbox:checked ~ .container > #navbar > #link a,
  .checkbox:checked ~ .container > #navbar > #social i {
    color: var(--pink-text);
    cursor: pointer;
    transition: 0.3s;
  }
  /*
  =change the color while hovering on the link + social items */
  .checkbox:checked ~ .container > #navbar > #link a:hover,
  .checkbox:checked ~ .container > #navbar > #social i:hover {
    color: var(--blue-gray-text);
  }
